<phpunit
	bootstrap="tests/includes/bootstrap.php"
        backupGlobals="false"
        colors="true"
        >
    <testsuites>
        <testsuite name="Isopress">
            <directory prefix="test-" suffix=".php">./tests/cases</directory>
        </testsuite>
    </testsuites>
</phpunit>
